@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-stone-900;
  }
}

@layer utilities {
  .animate-in {
    animation: fadeIn 0.5s ease-in;
  }
  
  .fade-in {
    animation: fadeIn 0.7s ease-in;
  }
  
  .slide-in-from-bottom-2 {
    animation: slideInFromBottom 0.7s ease-out;
  }
  
  .slide-in-from-bottom-4 {
    animation: slideInFromBottom 0.5s ease-out;
  }
  
  .slide-in-from-bottom-8 {
    animation: slideInFromBottom 1s ease-out;
  }
  
  .slide-in-from-top-2 {
    animation: slideInFromTop 0.5s ease-out;
  }
  
  .slide-in-from-top-4 {
    animation: slideInFromTop 0.5s ease-out;
  }
  
  .slide-in-from-right-4 {
    animation: slideInFromRight 0.5s ease-out;
  }
  
  .zoom-in-50 {
    animation: zoomIn 0.3s ease-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.shadow-3xl {
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}
